{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table align-middle table-striped table-bordered ">
            <thead>
                <tr>
                    <th class="text-start">Name</th>
                    <th class="text-start">Groups name</th>
                    <th class="text-start">Absorbances</th>
                    <th class="text-start">Time</th>
                </tr>
            </thead>
            <tbody>

                {% if history %}

                    {% for row in history %}

                        <tr>
                            <td class="text-start">{{ row.name }}</td>
                            <td class="text-start">{{ row.name_groups }}</td>
                            <td class="text-start">{{ row._values }}</td>
                            <td class="text-start">{{ row.timestamp }}</td>
                        </tr>

                    {% endfor %}

                {% endif %}

            </tbody>
        </table>
    </div>

{% endblock %}