{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Groups name</th>
                <th class="text-start">Absorbances</th>
                <th class="text-start">Time</th>
            </tr>
        </thead>
        <tbody>

            {% if history %}

                {% for row in history %}

                    <tr>
                        <td class="text-start">{{ row.name }}</td>
                        <td class="text-end">{{ row.name_groups }}</td>
                        <td class="text-end">{{ row._values }}</td>
                        <td class="text-end">{{ row.timestamp }}</td>
                    </tr>

                {% endfor %}

            {% endif %}

        </tbody>
    </table>

{% endblock %}